<%- include('./parts/head') %>
<%- include('./parts/header') %>
<main class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">

        <ul class="posts">
          <% for(var i=0; i<posts.length; i++) {%>
          <li class="post">
              <span><%= posts[i].title %></span>
              <span><%= posts[i].content %></span>
          </li>
          <% } %>
      </ul>

  </div>
  <div class="col-md-3"></div>


  <a href="/create"><button>Write new post</button></a>

</main>
<%- include('./parts/footer') %>